<div class="container analysis_page">
    <div class="row">
        <div class="col-6">
            <form {{on 'submit' this.submitEntry}} >
                <h4 class="lead">Fruit Form</h4>
                <hr>
                <div class="mb-3">
                    <label for="fruitName">Fruit Name</label>
                    <Input @type="text" @value={{this.fruitName}} id="fruitName" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="quantity">Quantity</label>
                    <Input @type="number" @value={{this.quantity}} id="quantity" class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="price">Price</label>
                    <Input @type="number" @value={{this.price}} id="price" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
            {{#if this.yetToEdit}}
                <button type="button" class="btn btn-secondary w-100" {{on 'click' this.modifyData}}>Confirm Edit</button>
                                
            {{/if}}

        </div>
        <div class="col-6">
            <h2 class="text-primary">{{this.tableheading}}</h2>
            <table class="table table-bordered text-center">
                <thead class="bg-light ">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each @model as |fruit index|}}
                    <tr>
                        <td>{{index}}</td>
                        <td>{{fruit.name}}</td>
                        <td>{{fruit.quantity}}</td>
                        <td>{{fruit.price}}</td>
                        <td><button type="button" {{on 'click' (fn this.editFruit fruit)}}>Edit</button></td>
                        <td><button type="button" {{on 'click' (fn this.deleteFruit fruit.id)}}>Delete</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>
{{!-- <div class="mx-auto">
    <h2 class="text-center">{{this.count}}</h2>
    <Input @type="number" id="increse" @value={{this.count}}/>
    <button type="button" class="btn btn-warning d-block mx-auto" {{on 'click' this.increment}}>Increse</button>
</div> --}}